<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.rootech.msolver.vo.UserVo" alias="userVo" />
		<typeAlias type="com.rootech.msolver.vo.MSolVo" alias="mSolVo" />
		<typeAlias type="com.rootech.msolver.common.dto.CustomUserDetails" alias="customUserDetails" />
		<!-- typeHandler -->
<!-- 		<typeAlias type="com.lj.payment.utils.dataUtils.CriticalDataTypeHandler"	alias="CriticalDataTypeHandler" /> -->
	</typeAliases>

<!-- 	<typeHandlers> -->
<!-- 		<typeHandler handler="com.lj.payment.utils.dataUtils.CriticalDataTypeHandler"/> -->
<!-- 		<typeHandler handler="com.lj.payment.utils.dataUtils.MoneyFormatTypeHandler"/> -->
<!-- 	</typeHandlers> -->


</configuration>